#grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.notFound{
  grid-template-columns: 1fr!important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}